<html>

  <body>
    <div class='container'>
      <h1>Welcome to {{name}}</h1>
      <ul>
        {{#each users}}
          <li>
            <h2>{{name}}</h2>
            <p>Gender: {{gender}}</p>
            <p>ID: {{id}}</p>
            <p>Age: {{age}}</p>
            <h3>Friends:</h3>
            <ul>
              {{#each friends}}
                <li>
                  <h4>{{name}}</h4>
                  <p>Gender: {{gender}}</p>
                  <p>ID: {{id}}</p>
                  <p>Age: {{age}}</p>
                  {{#if mutual_friends}}
                    <h5>Mutual Friends:</h5>
                    <ul>
                      {{#each mutual_friends}}
                        <li>
                          <h6>{{name}}</h6>
                          <p>Gender: {{gender}}</p>
                          <p>ID: {{id}}</p>
                          <p>Age: {{age}}</p>
                        </li>
                      {{/each}}
                    </ul>
                  {{/if}}
                  {{#if groups}}
                    <h5>Groups:</h5>
                    <ul>
                      {{#each groups}}
                        <li>
                          <h6>{{name}}</h6>
                          <p>ID: {{id}}</p>
                          <p>{{description}}</p>
                          {{#if members}}
                            <h6>Members:</h6>
                            <ul>
                              {{#each members}}
                                <li>
                                  <h6>{{name}}</h6>
                                  <p>Gender: {{gender}}</p>
                                  <p>ID: {{id}}</p>
                                  <p>Age: {{age}}</p>
                                </li>
                              {{/each}}
                            </ul>
                          {{/if}}
                        </li>
                      {{/each}}
                    </ul>
                  {{/if}}
                </li>
              {{/each}}
            </ul>
            {{#if groups}}
              <h3>Groups:</h3>
              <ul>
                {{#each groups}}
                  <li>
                    <h4>{{name}}</h4>
                    <p>ID: {{id}}</p>
                    <p>{{description}}</p>
                    {{#if members}}
                      <h5>Members:</h5>
                      <ul>
                        {{#each members}}
                          <li>
                            <h6>{{name}}</h6>
                            <p>Gender: {{gender}}</p>
                            <p>ID: {{id}}</p>
                            <p>Age: {{age}}</p>
                          </li>
                        {{/each}}
                      </ul>
                    {{/if}}
                  </li>
                {{/each}}
              </ul>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
  </body>

</html>