<html>

<head>
  <title>{{person.name}}'s Profile</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1>{{person.name}}</h1>
    <p>Age: {{person.age}}</p>
    <p>Gender: {{person.gender}}</p>
    <p>Address:
      {{person.address.street}},
      {{person.address.city}},
      {{person.address.state}},
      {{person.address.zip}},
      {{person.address.country}}</p>
    <br />
    <hr />
    <h2>Education</h2>
    <ul class="list-group">
      {{#each person.education}}
      <li class="list-group-item">
        <h3>{{this.degree}}</h3>
        <p>{{this.major}}</p>
        <p>{{this.university}},
          {{this.graduationYear}}</p>
      </li>
      {{/each}}
    </ul>
    <br />
    <hr />
    <h2>Work Experience</h2>
    <ul class="list-group">
      {{#each person.workExperience}}
      <li class="list-group-item">
        <details>
          <summary>
            <h3>{{this.title}}</h3>
            <p>{{this.company}}</p>
            <p>{{this.startDate}} - {{this.endDate}}</p>
          </summary>
          <ul class="list-group">
            {{#each this.responsibilities}}
            <li class="list-group-item">{{this}}</li>
            {{/each}}
          </ul>
          <h2>Company Information</h2>
          <ul>
            <li>Year Founded: {{year_founded}}</li>
            <li>Industry: {{industry}}</li>
          </ul>
          {{#each employees}}
          <div class="card">
            <div class="card-header">
              <h3>{{name}}, {{position}}</h3>
              <p>Department: {{department}}</p>
            </div>
            <div class="card-body">
              <ul class="list-group">
                {{#each projects}}
                <li class="list-group-item">
                  <h4>{{name}}</h4>
                  <p>{{description}}</p>
                  <p>Status: {{status}}</p>
                  <ul>
                    {{#each teams}}
                    <li>
                      <h5>{{team_name}}</h5>
                      <p>Team Leader:
                        {{team_leader.name}},
                        {{team_leader.title}}</p>
                      <ul>
                        {{#each team_members}}
                        <li>
                          <h6>{{name}},
                            {{title}}</h6>
                          <p>Email: {{email}}</p>
                          <p>Skills: {{skills}}</p>
                          {{#if projects}}
                          <ul>
                            {{#each projects}}
                            <li>
                              <h6>{{name}}</h6>
                              <p>{{description}}</p>
                              <p>Technologies:
                                {{technologies}}</p>
                              {{#if
                              team_members
                              }}
                              <ul>
                                {{#each
                                team_members
                                }}
                                <li>{{name}},{{title}}</li>
                                {{/each}}
                              </ul>
                              {{/if}}
                            </li>
                            {{/each}}
                          </ul>
                          {{/if}}
                        </li>
                        {{/each}}
                      </ul>
                    </li>
                    {{/each}}
                  </ul>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
  </div>
  {{/each}}
  </details>
  </li>
  {{/each}}
  </ul>
  </div>
</body>

</html>
{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}