<body>
  <div class='container'>
    <h1>{{program.excursion.name}}</h1>
    <p>
      Location:
      {{program.excursion.location.city}},
      {{program.excursion.location.country}}
    </p>
    <p>Date: {{program.excursion.date}}</p>

    <h2>Program:</h2>

    {{#each program.excursion.program}}

      <div class='card my-3'>
        <div class='card-body'>
          <h3 class='card-title'>{{this.name}}</h3>
          <p class='card-text'><strong>Type:</strong>
            {{this.type}}</p>
          <p class='card-text'><strong>Duration:</strong>
            {{this.duration}}
            hours</p>

          {{#if this.details.museum}}
            <div class='card my-3'>
              <div class='card-body'>
                <h4 class='card-title'>Museum Visit:</h4>
                <p class='card-text'><strong
                  >Museum:</strong>
                  {{this.details.museum.name}}</p>
                <p class='card-text'>
                  <strong>Address:</strong>
                  {{this.details.museum.location.address}},
                  {{this.details.museum.location.city}},
                  {{this.details.museum.location.country}}
                </p>

                <ul class='list-group list-group-flush'>
                  {{#each this.details.museum.exhibits}}
                    <li class='list-group-item'>
                      {{this.name}}
                      by
                      {{this.artist}}
                      -
                      {{this.description}}
                      {{#if this.audio_guide}}(audio guide
                        available){{/if}}
                    </li>
                  {{/each}}
                </ul>

                <p class='card-text'>
                  <span><b>Tour guide:</b></span>
                  {{this.details.guide.name}}, Language:
                  {{this.details.guide.language}}, Rating:
                  {{this.details.guide.rating}}
                </p>
              </div>
            </div>
          {{/if}}

          {{#if this.details.venue}}
            <div class='card my-3'>
              <div class='card-body'>
                <h4 class='card-title'>Cultural Show:</h4>
                <p class='card-text'><strong>Venue:</strong>
                  {{this.details.venue.name}}</p>
                <p class='card-text'>
                  <strong>Address:</strong>
                  {{this.details.venue.location.address}},
                  {{this.details.venue.location.city}},
                  {{this.details.venue.location.country}}
                </p>

                <ul class='list-group list-group-flush'>
                  {{#each this.details.performers}}
                    <li
                      class='list-group-item'
                    >{{this.name}} - {{this.type}}</li>
                  {{/each}}
                </ul>

                <p class='card-text'>
                  <span><b>Tour guide:</b></span>
                  {{this.details.guide.name}}, Language:
                  {{this.details.guide.language}}, Rating:
                  {{this.details.guide.rating}}
                </p>
              </div>
            </div>
          {{/if}}

        </div>
      </div>
    {{/each}}
  </div>
</body>