<html>

  <body>

    <h1>{{program.excursion.name}}</h1>
    <p>Location:
      {{program.excursion.location.city}},
      {{program.excursion.location.country}}</p>
    <p>Date: {{program.excursion.date}}</p>

    <h2>Program:</h2>

    {{#each program.excursion.program}}

      <h3>{{this.name}}</h3>
      <p>Type: {{this.type}}</p>
      <p>Duration: {{this.duration}} hours</p>

      {{#if this.details.museum}}
        <h4>Museum Visit:</h4>
        <p>Museum: {{this.details.museum.name}}</p>
        <p>Address:
          {{this.details.museum.location.address}},
          {{this.details.museum.location.city}},
          {{this.details.museum.location.country}}</p>

        <ul>
          {{#each this.details.museum.exhibits}}
            <li>{{this.name}}
              by
              {{this.artist}}
              -
              {{this.description}}
              {{#if this.audio_guide}}(audio guide
                available){{/if}}</li>
          {{/each}}
        </ul>

        <p><span><b>Tour guide</b></span>:
          {{this.details.guide.name}}, Language:
          {{this.details.guide.language}}, Rating:
          {{this.details.guide.rating}}</p>
      {{/if}}

      {{#if this.details.venue}}
        <h4>Cultural Show:</h4>
        <p>Venue: {{this.details.venue.name}}</p>
        <p>Address:
          {{this.details.venue.location.address}},
          {{this.details.venue.location.city}},
          {{this.details.venue.location.country}}</p>

        <ul>
          {{#each this.details.performers}}
            <li>{{this.name}} - {{this.type}}</li>
          {{/each}}
        </ul>

        <p><span><b>Tour guide</b></span>:
          {{this.details.guide.name}}, Language:
          {{this.details.guide.language}}, Rating:
          {{this.details.guide.rating}}</p>
      {{/if}}

    {{/each}}
  </body>

</html>