<main>
    <div class="row my-5">
        {{#with formBlock}}
            <div class='col-8'>
                <div class=''>
                    <h1>{{header}}</h1>
                    <p>{{rating.title}}: {{rating.value}}</p>
                </div>
                {{#with actionBlock}}
                    <ul class="nav nav-tabs mb-6 d-flex justify-content-between">
                        {{#each tabs}}
                            {{#with this}}
                                <li class="nav-item col-4">
                                    <a class="nav-link text-center {{#if isActive}}fw-semibold active{{/if}}" href="#">{{text}}</a>
                                </li>
                            {{/with}}
                        {{/each}}
                    </ul>
                    <div class="my-5">
                        <hr>
                    </div>
                    {{#with field}}
                        <div class='row'>
                            <div class='col'>
                                <div class='card'>
                                    <div class='card-body d-flex justify-content-between align-items-center'>
                                        <div>{{placeholder}}</div>
                                        {{#with button}}
                                            <div>
                                                <a class='btn py-2 px-3 btn-secondary mx-2' href='{{link}}' role='button'>{{text}}</a>
                                            </div>
                                        {{/with}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/with}}
                    <div class="my-5">
                        <hr>
                    </div>
                {{/with}}
                {{#with feedbackBlock}}
                    <h2>{{title}}</h2>
                    <div class="mb-5 row">
                        <div class="col">
                            <div class="d-flex flex-row">
                                {{#each buttons}}
                                    {{#if isWarning}}
                                        <div>
                                            <a class='btn py-2 px-3 btn-warning text-light me-3' href='{{link}}' role='button'>{{text}}</a>
                                        </div>
                                    {{/if}}
                                    {{#if isSuccess}}
                                        <div>
                                            <a class='btn py-2 px-3 btn-success me-3' href='{{link}}' role='button'>{{text}}</a>
                                        </div>
                                    {{/if}}
                                    {{#if isDanger}}
                                        <div>
                                            <a class='btn py-2 px-3 btn-danger me-3' href='{{link}}' role='button'>{{text}}</a>
                                        </div>
                                    {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                {{/with}}
            </div>
            <div class='col-4 gy-2'>
                {{#with goodsInfo}}
                    <div class='card mb-3'>
                        <div class="card-body">
                            <img src='{{photo}}' alt='{{name}}' />
                            <div class="mt-3">
                                <h5>{{name}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class='card mb-4'>
                        <div class="card-body">
                            <h5>{{price}}</h5>    
                            <p>{{value}}</p>
                            {{#each buttons}}
                                {{#if isPrimary}}
                                    <div>
                                        <a class='btn py-2 px-3 btn-primary me-3 my-2' href='{{link}}' role='button'>{{text}}</a>
                                    </div>
                                {{/if}}
                                {{#if isSecondary}}
                                    <div>
                                        <a class='btn py-2 px-3 btn-secondary me-3 my-2' href='{{link}}' role='button'>{{text}}</a>
                                    </div>
                                {{/if}}
                            {{/each}}
                        </div>
                    </div>
                    <div class='card'>
                        <div class="card-body">
                            {{#with seller}}
                            <div>{{title}}: <b>{{value}}</b></div>
                            {{/with}}
                        </div>
                    </div>
                {{/with}}
            </div>
        {{/with}}
    </div>
    <hr>
    <section class="my-5">
        <div class="row">
            <div class="col">
                {{#each reviewList}}
                    <div class="card my-3">
                        <div class="card-body">
                            {{#with this}}
                                {{#with reviewBody}}
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="row d-flex align-items-center">
                                                {{#with ../title}}
                                                    <div class="col-10">
                                                        <h4>{{userName}}</h4>
                                                        <div>{{caption}}</div>
                                                    </div>
                                                    <div class="col-2 text-end">
                                                        <div>{{date}}</div>
                                                    </div>
                                                {{/with}}
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="mb-3">
                                                {{#with seller}}
                                                    <b>{{title}}:</b> {{value}}
                                                {{/with}}
                                            </div>
                                            <div class="my-3">
                                                {{#with rating}}
                                                    <b>{{title}}:</b> {{value}}
                                                {{/with}}
                                            </div>
                                            <div class="my-3">
                                                {{#each text}}
                                                    {{this}}
                                                {{/each}}
                                            </div>
                                            <div class="my-3">
                                                {{#with advantages}}
                                                    <b>{{title}}:</b>
                                                    <p>{{text}}</p>
                                                {{/with}}
                                            </div>
                                            <div class="my-3">
                                                {{#with disadvantages}}
                                                    <b>{{title}}:</b>
                                                    <p>{{text}}</p>
                                                {{/with}}
                                            </div>
                                            <div class="mt-3 d-flex">
                                                {{#each images}}
                                                    <img class='p-2' src='{{this}}' alt='...' />
                                                {{/each}}
                                            </div>
                                        </div>
                                    </div>
                                    {{#each coments}}
                                        {{#with this}}
                                            <div class="row justify-content-end">
                                                <div class="col-11 my-3">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row d-flex align-items-center">
                                                                <div class="col-10">
                                                                    <h4>{{userName}}</h4>
                                                                </div>
                                                                <div class="col-2 text-end">
                                                                    <div>{{date}}</div>
                                                                </div>
                                                                <div>{{text}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {{/with}}
                                    {{/each}}
                                {{/with}}
                            {{/with}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>
    {{> shopaction}}
    <hr>
</main>