<html>
  <body>
    <div class='container'>
      <h1 class='text-center'>Web Development</h1>
      {{#each web.languages}}
        <div class='language'>
          <h2>{{this.name}} ({{this.version}})</h2>
          <p>{{this.description}}</p>
          {{#if this.elements}}
            <h3>Elements:</h3>
            <ul class='list-group'>
              {{#each this.elements}}
                <li class='list-group-item'>
                  <strong>{{this.name}}</strong>:
                  {{this.description}}
                  <ul>
                    {{#each this.attributes}}
                      <li><em>{{this.name}}</em>:
                        {{this.description}}</li>
                    {{/each}}
                  </ul>
                </li>
              {{/each}}
            </ul>
          {{/if}}
          {{#if this.properties}}
            <h3>Properties:</h3>
            <ul class='list-group'>
              {{#each this.properties}}
                <li class='list-group-item'>
                  <strong>{{this.name}}</strong>:
                  {{this.description}}
                  <ul>
                    {{#each this.values}}
                      <li><em>{{this.value}}</em>:
                        {{this.description}}</li>
                    {{/each}}
                  </ul>
                </li>
              {{/each}}
            </ul>
          {{/if}}
          {{#if this.functions}}
            <h3>Functions:</h3>
            <ul class='list-group'>
              {{#each this.functions}}
                <li class='list-group-item'>
                  <strong>{{this.name}}</strong>:
                  {{this.description}}
                  <ul>
                    {{#each this.parameters}}
                      <li><em>{{this.name}}</em>
                        ({{this.type}}):
                        {{this.description}}</li>
                    {{/each}}
                  </ul>
                </li>
              {{/each}}
            </ul>
          {{/if}}
        </div>
      {{/each}}
    </div>
  </body>
</html>